## Extract: 
Found data sets from Kaggle.com on the World Happiness Report based off the Gallup World Poll. This includes two CSV files, one with happiness data from 2005-2020, and one with happiness data from 2021.  We extracted these CSV files and saved them in our repository's Resources folder.

In [1]:
# Import Dependecies
import pandas as pd
from sqlalchemy import create_engine, inspect

### Read CSV files into data frames

In [2]:
file1 = "Resources/world-happiness-report.csv"
multihappy_df = pd.read_csv(file1)
multihappy_df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [3]:
file2 = "Resources/world-happiness-report-2021.csv"
happy21_df = pd.read_csv(file2)
happy21_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

## Transform: 
Extracted the columns we needed and renamed them.  We then added one column to each data frame necessary for the union.  We performed the union and created a lookup data frame to fill in missing column data.  Performed final merge and conducted final column cleanup for loading in to sql database.

In [4]:
# Create a filtered dataframe from specific columns
multihappy_cols = ["Country name", "year", "Life Ladder"]
multihappy_trans = multihappy_df[multihappy_cols].copy()

# Rename the column headers
multihappy_trans = multihappy_trans.rename(columns={"Country name": "Country Name",
                                                    "year": "Year",
                                                    "Life Ladder": "Ladder Score"})

multihappy_trans.head()

  Country Name  Year  Ladder Score
0  Afghanistan  2008         3.724
1  Afghanistan  2009         4.402
2  Afghanistan  2010         4.758
3  Afghanistan  2011         3.832
4  Afghanistan  2012         3.783

In [5]:
# Create a filtered dataframe from specific columns
happy21_cols = ["Country name", "Regional indicator", "Ladder score"]
happy21_trans = happy21_df[happy21_cols].copy()

# Rename the column headers
happy21_trans = happy21_trans.rename(columns={"Country name": "Country Name",
                                              "Regional indicator": "Regional Indicator",
                                              "Ladder score": "Ladder Score"})

happy21_trans.head()

  Country Name Regional Indicator  Ladder Score
0      Finland     Western Europe         7.842
1      Denmark     Western Europe         7.620
2  Switzerland     Western Europe         7.571
3      Iceland     Western Europe         7.554
4  Netherlands     Western Europe         7.464

In [6]:
# Add column 
happy21_trans["Year"] = 2021
happy21_trans.head()

  Country Name Regional Indicator  Ladder Score  Year
0      Finland     Western Europe         7.842  2021
1      Denmark     Western Europe         7.620  2021
2  Switzerland     Western Europe         7.571  2021
3      Iceland     Western Europe         7.554  2021
4  Netherlands     Western Europe         7.464  2021

In [7]:
# Add column
multihappy_trans["Regional Indicator"] = ""
multihappy_trans.head()

  Country Name  Year  Ladder Score Regional Indicator
0  Afghanistan  2008         3.724
1  Afghanistan  2009         4.402
2  Afghanistan  2010         4.758
3  Afghanistan  2011         3.832
4  Afghanistan  2012         3.783

In [8]:
frames = [multihappy_trans, happy21_trans]
allhappy = pd.concat(frames)
allhappy

    Country Name  Year  Ladder Score  Regional Indicator
0    Afghanistan  2008         3.724
1    Afghanistan  2009         4.402
2    Afghanistan  2010         4.758
3    Afghanistan  2011         3.832
4    Afghanistan  2012         3.783
..           ...   ...           ...                 ...
144      Lesotho  2021         3.512  Sub-Saharan Africa
145     Botswana  2021         3.467  Sub-Saharan Africa
146       Rwanda  2021         3.415  Sub-Saharan Africa
147     Zimbabwe  2021         3.145  Sub-Saharan Africa
148  Afghanistan  2021         2.523          South Asia

[2098 rows x 4 columns]

In [9]:
# Create lookup data frame
ri_dfcols = ["Country Name", "Regional Indicator"]
ri_df = happy21_trans[ri_dfcols]
ri_df

    Country Name  Regional Indicator
0        Finland      Western Europe
1        Denmark      Western Europe
2    Switzerland      Western Europe
3        Iceland      Western Europe
4    Netherlands      Western Europe
..           ...                 ...
144      Lesotho  Sub-Saharan Africa
145     Botswana  Sub-Saharan Africa
146       Rwanda  Sub-Saharan Africa
147     Zimbabwe  Sub-Saharan Africa
148  Afghanistan          South Asia

[149 rows x 2 columns]

In [10]:
# Merge dfs and rename for sql db
allhappy_new = pd.merge(allhappy, ri_df, on="Country Name", how="left")
allhappy_new = allhappy_new.rename(columns={"Regional Indicator_y": "regional_indicator",
                                           "Country Name": "country_name",
                                           "Ladder Score": "ladder_score",
                                           "Year": "year"})
allhappy_new['ladder_score'].round(3)
allhappy_new.drop(columns="Regional Indicator_x", inplace=True)
allhappy_new

     country_name  year  ladder_score  regional_indicator
0     Afghanistan  2008         3.724          South Asia
1     Afghanistan  2009         4.402          South Asia
2     Afghanistan  2010         4.758          South Asia
3     Afghanistan  2011         3.832          South Asia
4     Afghanistan  2012         3.783          South Asia
...           ...   ...           ...                 ...
2093      Lesotho  2021         3.512  Sub-Saharan Africa
2094     Botswana  2021         3.467  Sub-Saharan Africa
2095       Rwanda  2021         3.415  Sub-Saharan Africa
2096     Zimbabwe  2021         3.145  Sub-Saharan Africa
2097  Afghanistan  2021         2.523          South Asia

[2098 rows x 4 columns]

## Load: DataFrame into database

In [11]:
# Create database connection
connection_string = "postgres:Talli@0412@localhost:5432/happy_db"
engine = create_engine(f'postgresql://{connection_string}')

In [12]:
# Confirm tables
engine.table_names()

C:\Users\robin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

[]

In [13]:
allhappy_new.to_sql(name='worldhappy', con=engine, if_exists='append', index=True)

## Query to check successful load

In [14]:
# Create session for query
from sqlalchemy.orm import Session

session = Session(engine)

engine.execute("SELECT * FROM worldhappy;").fetchall()

[(0, 'Afghanistan', 2008, 3.7239999999999998, 'South Asia'),
 (1, 'Afghanistan', 2009, 4.402, 'South Asia'),
 (2, 'Afghanistan', 2010, 4.758, 'South Asia'),
 (3, 'Afghanistan', 2011, 3.832, 'South Asia'),
 (4, 'Afghanistan', 2012, 3.783, 'South Asia'),
 (5, 'Afghanistan', 2013, 3.572, 'South Asia'),
 (6, 'Afghanistan', 2014, 3.1310000000000002, 'South Asia'),
 (7, 'Afghanistan', 2015, 3.983, 'South Asia'),
 (8, 'Afghanistan', 2016, 4.22, 'South Asia'),
 (9, 'Afghanistan', 2017, 2.662, 'South Asia'),
 (10, 'Afghanistan', 2018, 2.694, 'South Asia'),
 (11, 'Afghanistan', 2019, 2.375, 'South Asia'),
 (12, 'Albania', 2007, 4.6339999999999995, 'Central and Eastern Europe'),
 (13, 'Albania', 2009, 5.485, 'Central and Eastern Europe'),
 (14, 'Albania', 2010, 5.269, 'Central and Eastern Europe'),
 (15, 'Albania', 2011, 5.867000000000001, 'Central and Eastern Europe'),
 (16, 'Albania', 2012, 5.51, 'Central and Eastern Europe'),
 (17, 'Albania', 2013, 4.551, 'Central and Eastern Europe'),
 (18, 'Albania', 2014, 4.814, 'Central and Eastern Europe'),
 (19, 'Albania', 2015, 4.607, 'Central and Eastern Europe'),
 (20, 'Albania', 2016, 4.511, 'Central and Eastern Europe'),
 (21, 'Albania', 2017, 4.64, 'Central and Eastern Europe'),
 (22, 'Albania', 2018, 5.004, 'Central and Eastern Europe'),
 (23, 'Albania', 2019, 4.995, 'Central and Eastern Europe'),
 (24, 'Albania', 2020, 5.365, 'Central and Eastern Europe'),
 (25, 'Algeria', 2010, 5.4639999999999995, 'Middle East and North Africa'),
 (26, 'Algeria', 2011, 5.317, 'Middle East and North Africa'),
 (27, 'Algeria', 2012, 5.605, 'Middle East and North Africa'),
 (28, 'Algeria', 2014, 6.355, 'Middle East and North Africa'),
 (29, 'Algeria', 2016, 5.341, 'Middle East and North Africa'),
 (30, 'Algeria', 2017, 5.249, 'Middle East and North Africa'),
 (31, 'Algeria', 2018, 5.043, 'Middle East and North Africa'),
 (32, 'Algeria', 2019, 4.745, 'Middle East and North Africa'),
 (33, 'Angola', 2011, 5.5889999999999995, None),
 (34, 'Angola', 2012, 4.36, None),
 (35, 'Angola', 2013, 3.937, None),
 (36, 'Angola', 2014, 3.795, None),
 (37, 'Argentina', 2006, 6.313, 'Latin America and Caribbean'),
 (38, 'Argentina', 2007, 6.0729999999999995, 'Latin America and Caribbean'),
 (39, 'Argentina', 2008, 5.961, 'Latin America and Caribbean'),
 (40, 'Argentina', 2009, 6.4239999999999995, 'Latin America and Caribbean'),
 (41, 'Argentina', 2010, 6.441, 'Latin America and Caribbean'),
 (42, 'Argentina', 2011, 6.776, 'Latin America and Caribbean'),
 (43, 'Argentina', 2012, 6.468, 'Latin America and Caribbean'),
 (44, 'Argentina', 2013, 6.582000000000001, 'Latin America and Caribbean'),
 (45, 'Argentina', 2014, 6.671, 'Latin America and Caribbean'),
 (46, 'Argentina', 2015, 6.697, 'Latin America and Caribbean'),
 (47, 'Argentina', 2016, 6.4270000000000005, 'Latin America and Caribbean'),
 (48, 'Argentina', 2017, 6.039, 'Latin America and Caribbean'),
 (49, 'Argentina', 2018, 5.792999999999999, 'Latin America and Caribbean'),
 (50, 'Argentina', 2019, 6.086, 'Latin America and Caribbean'),
 (51, 'Argentina', 2020, 5.901, 'Latin America and Caribbean'),
 (52, 'Armenia', 2006, 4.289, 'Commonwealth of Independent States'),
 (53, 'Armenia', 2007, 4.882, 'Commonwealth of Independent States'),
 (54, 'Armenia', 2008, 4.652, 'Commonwealth of Independent States'),
 (55, 'Armenia', 2009, 4.178, 'Commonwealth of Independent States'),
 (56, 'Armenia', 2010, 4.368, 'Commonwealth of Independent States'),
 (57, 'Armenia', 2011, 4.26, 'Commonwealth of Independent States'),
 (58, 'Armenia', 2012, 4.32, 'Commonwealth of Independent States'),
 (59, 'Armenia', 2013, 4.277, 'Commonwealth of Independent States'),
 (60, 'Armenia', 2014, 4.453, 'Commonwealth of Independent States'),
 (61, 'Armenia', 2015, 4.348, 'Commonwealth of Independent States'),
 (62, 'Armenia', 2016, 4.325, 'Commonwealth of Independent States'),
 (63, 'Armenia', 2017, 4.288, 'Commonwealth of Independent States'),
 (64, 'Armenia', 2018, 5.062, 'Commonwealth of Independent States'),
 (65, 'Armenia', 2019, 5.4879999999999995, 'Commonwealth of Independent States'),
 (66, 'Australia', 2005, 7.341, 'North America and ANZ'),
 (67, 'Australia', 2007, 7.285, 'North America and ANZ'),
 (68, 'Australia', 2008, 7.254, 'North America and ANZ'),
 (69, 'Australia', 2010, 7.45, 'North America and ANZ'),
 (70, 'Australia', 2011, 7.406000000000001, 'North America and ANZ'),
 (71, 'Australia', 2012, 7.196000000000001, 'North America and ANZ'),
 (72, 'Australia', 2013, 7.364, 'North America and ANZ'),
 (73, 'Australia', 2014, 7.289, 'North America and ANZ'),
 (74, 'Australia', 2015, 7.309, 'North America and ANZ'),
 (75, 'Australia', 2016, 7.25, 'North America and ANZ'),
 (76, 'Australia', 2017, 7.257000000000001, 'North America and ANZ'),
 (77, 'Australia', 2018, 7.1770000000000005, 'North America and ANZ'),
 (78, 'Australia', 2019, 7.234, 'North America and ANZ'),
 (79, 'Australia', 2020, 7.1370000000000005, 'North America and ANZ'),
 (80, 'Austria', 2006, 7.122000000000001, 'Western Europe'),
 (81, 'Austria', 2008, 7.181, 'Western Europe'),
 (82, 'Austria', 2010, 7.303, 'Western Europe'),
 (83, 'Austria', 2011, 7.471, 'Western Europe'),
 (84, 'Austria', 2012, 7.401, 'Western Europe'),
 (85, 'Austria', 2013, 7.499, 'Western Europe'),
 (86, 'Austria', 2014, 6.95, 'Western Europe'),
 (87, 'Austria', 2015, 7.0760000000000005, 'Western Europe'),
 (88, 'Austria', 2016, 7.047999999999999, 'Western Europe'),
 (89, 'Austria', 2017, 7.294, 'Western Europe'),
 (90, 'Austria', 2018, 7.396, 'Western Europe'),
 (91, 'Austria', 2019, 7.195, 'Western Europe'),
 (92, 'Austria', 2020, 7.212999999999999, 'Western Europe'),
 (93, 'Azerbaijan', 2006, 4.728, 'Commonwealth of Independent States'),
 (94, 'Azerbaijan', 2007, 4.5680000000000005, 'Commonwealth of Independent States'),
 (95, 'Azerbaijan', 2008, 4.817, 'Commonwealth of Independent States'),
 (96, 'Azerbaijan', 2009, 4.574, 'Commonwealth of Independent States'),
 (97, 'Azerbaijan', 2010, 4.218999999999999, 'Commonwealth of Independent States'),
 (98, 'Azerbaijan', 2011, 4.68, 'Commonwealth of Independent States'),
 (99, 'Azerbaijan', 2012, 4.9110000000000005, 'Commonwealth of Independent States'),
 (100, 'Azerbaijan', 2013, 5.481, 'Commonwealth of Independent States'),
 (101, 'Azerbaijan', 2014, 5.252000000000001, 'Commonwealth of Independent States'),
 (102, 'Azerbaijan', 2015, 5.147, 'Commonwealth of Independent States'),
 (103, 'Azerbaijan', 2016, 5.303999999999999, 'Commonwealth of Independent States'),
 (104, 'Azerbaijan', 2017, 5.152, 'Commonwealth of Independent States'),
 (105, 'Azerbaijan', 2018, 5.167999999999999, 'Commonwealth of Independent States'),
 (106, 'Azerbaijan', 2019, 5.172999999999999, 'Commonwealth of Independent States'),
 (107, 'Bahrain', 2009, 5.7010000000000005, 'Middle East and North Africa'),
 (108, 'Bahrain', 2010, 5.937, 'Middle East and North Africa'),
 (109, 'Bahrain', 2011, 4.824, 'Middle East and North Africa'),
 (110, 'Bahrain', 2012, 5.027, 'Middle East and North Africa'),
 (111, 'Bahrain', 2013, 6.69, 'Middle East and North Africa'),
 (112, 'Bahrain', 2014, 6.165, 'Middle East and North Africa'),
 (113, 'Bahrain', 2015, 6.007000000000001, 'Middle East and North Africa'),
 (114, 'Bahrain', 2016, 6.17, 'Middle East and North Africa'),
 (115, 'Bahrain', 2017, 6.227, 'Middle East and North Africa'),
 (116, 'Bahrain', 2019, 7.098, 'Middle East and North Africa'),
 (117, 'Bahrain', 2020, 6.172999999999999, 'Middle East and North Africa'),
 (118, 'Bangladesh', 2006, 4.319, 'South Asia'),
 (119, 'Bangladesh', 2007, 4.607, 'South Asia'),
 (120, 'Bangladesh', 2008, 5.052, 'South Asia'),
 (121, 'Bangladesh', 2009, 5.083, 'South Asia'),
 (122, 'Bangladesh', 2010, 4.8580000000000005, 'South Asia'),
 (123, 'Bangladesh', 2011, 4.986000000000001, 'South Asia'),
 (124, 'Bangladesh', 2012, 4.724, 'South Asia'),
 (125, 'Bangladesh', 2013, 4.66, 'South Asia'),
 (126, 'Bangladesh', 2014, 4.636, 'South Asia'),
 (127, 'Bangladesh', 2015, 4.633, 'South Asia'),
 (128, 'Bangladesh', 2016, 4.556, 'South Asia'),
 (129, 'Bangladesh', 2017, 4.31, 'South Asia'),
 (130, 'Bangladesh', 2018, 4.499, 'South Asia'),
 (131, 'Bangladesh', 2019, 5.114, 'South Asia'),
 (132, 'Bangladesh', 2020, 5.28, 'South Asia'),
 (133, 'Belarus', 2006, 5.6579999999999995, 'Commonwealth of Independent States'),
 (134, 'Belarus', 2007, 5.617000000000001, 'Commonwealth of Independent States'),
 (135, 'Belarus', 2008, 5.462999999999999, 'Commonwealth of Independent States'),
 (136, 'Belarus', 2009, 5.564, 'Commonwealth of Independent States'),
 (137, 'Belarus', 2010, 5.526, 'Commonwealth of Independent States'),
 (138, 'Belarus', 2011, 5.225, 'Commonwealth of Independent States'),
 (139, 'Belarus', 2012, 5.749, 'Commonwealth of Independent States'),
 (140, 'Belarus', 2013, 5.876, 'Commonwealth of Independent States'),
 (141, 'Belarus', 2014, 5.812, 'Commonwealth of Independent States'),
 (142, 'Belarus', 2015, 5.718999999999999, 'Commonwealth of Independent States'),
 (143, 'Belarus', 2016, 5.178, 'Commonwealth of Independent States'),
 (144, 'Belarus', 2017, 5.553, 'Commonwealth of Independent States'),
 (145, 'Belarus', 2018, 5.234, 'Commonwealth of Independent States'),
 (146, 'Belarus', 2019, 5.821000000000001, 'Commonwealth of Independent States'),
 (147, 'Belgium', 2005, 7.2620000000000005, 'Western Europe'),
 (148, 'Belgium', 2007, 7.218999999999999, 'Western Europe'),
 (149, 'Belgium', 2008, 7.117000000000001, 'Western Europe'),
 (150, 'Belgium', 2010, 6.854, 'Western Europe'),
 (151, 'Belgium', 2011, 7.111000000000001, 'Western Europe'),
 (152, 'Belgium', 2012, 6.935, 'Western Europe'),
 (153, 'Belgium', 2013, 7.104, 'Western Europe'),
 (154, 'Belgium', 2014, 6.855, 'Western Europe'),
 (155, 'Belgium', 2015, 6.904, 'Western Europe'),
 (156, 'Belgium', 2016, 6.949, 'Western Europe'),
 (157, 'Belgium', 2017, 6.928, 'Western Europe'),
 (158, 'Belgium', 2018, 6.892, 'Western Europe'),
 (159, 'Belgium', 2019, 6.772, 'Western Europe'),
 (160, 'Belgium', 2020, 6.8389999999999995, 'Western Europe'),
 (161, 'Belize', 2007, 6.4510000000000005, None),
 (162, 'Belize', 2014, 5.956, None),
 (163, 'Benin', 2006, 3.33, 'Sub-Saharan Africa'),
 (164, 'Benin', 2008, 3.667, 'Sub-Saharan Africa'),
 (165, 'Benin', 2011, 3.87, 'Sub-Saharan Africa'),
 (166, 'Benin', 2012, 3.193, 'Sub-Saharan Africa'),
 (167, 'Benin', 2013, 3.4789999999999996, 'Sub-Saharan Africa'),
 (168, 'Benin', 2014, 3.347, 'Sub-Saharan Africa'),
 (169, 'Benin', 2015, 3.625, 'Sub-Saharan Africa'),
 (170, 'Benin', 2016, 4.007, 'Sub-Saharan Africa'),
 (171, 'Benin', 2017, 4.853, 'Sub-Saharan Africa'),
 (172, 'Benin', 2018, 5.82, 'Sub-Saharan Africa'),
 (173, 'Benin', 2019, 4.976, 'Sub-Saharan Africa'),
 (174, 'Benin', 2020, 4.408, 'Sub-Saharan Africa'),
 (175, 'Bhutan', 2013, 5.569, None),
 (176, 'Bhutan', 2014, 4.939, None),
 (177, 'Bhutan', 2015, 5.082, None),
 (178, 'Bolivia', 2006, 5.374, 'Latin America and Caribbean'),
 (179, 'Bolivia', 2007, 5.627999999999999, 'Latin America and Caribbean'),
 (180, 'Bolivia', 2008, 5.297999999999999, 'Latin America and Caribbean'),
 (181, 'Bolivia', 2009, 6.086, 'Latin America and Caribbean'),
 (182, 'Bolivia', 2010, 5.781000000000001, 'Latin America and Caribbean'),
 (183, 'Bolivia', 2011, 5.779, 'Latin America and Caribbean'),
 (184, 'Bolivia', 2012, 6.019, 'Latin America and Caribbean'),
 (185, 'Bolivia', 2013, 5.767, 'Latin America and Caribbean'),
 (186, 'Bolivia', 2014, 5.865, 'Latin America and Caribbean'),
 (187, 'Bolivia', 2015, 5.834, 'Latin America and Caribbean'),
 (188, 'Bolivia', 2016, 5.77, 'Latin America and Caribbean'),
 (189, 'Bolivia', 2017, 5.651, 'Latin America and Caribbean'),
 (190, 'Bolivia', 2018, 5.916, 'Latin America and Caribbean'),
 (191, 'Bolivia', 2019, 5.6739999999999995, 'Latin America and Caribbean'),
 (192, 'Bolivia', 2020, 5.559, 'Latin America and Caribbean'),
 (193, 'Bosnia and Herzegovina', 2007, 4.9, 'Central and Eastern Europe'),
 (194, 'Bosnia and Herzegovina', 2009, 4.963, 'Central and Eastern Europe'),
 (195, 'Bosnia and Herzegovina', 2010, 4.669, 'Central and Eastern Europe'),
 (196, 'Bosnia and Herzegovina', 2011, 4.995, 'Central and Eastern Europe'),
 (197, 'Bosnia and Herzegovina', 2012, 4.773, 'Central and Eastern Europe'),
 (198, 'Bosnia and Herzegovina', 2013, 5.124, 'Central and Eastern Europe'),
 (199, 'Bosnia and Herzegovina', 2014, 5.249, 'Central and Eastern Europe'),
 (200, 'Bosnia and Herzegovina', 2015, 5.117, 'Central and Eastern Europe'),
 (201, 'Bosnia and Herzegovina', 2016, 5.181, 'Central and Eastern Europe'),
 (202, 'Bosnia and Herzegovina', 2017, 5.09, 'Central and Eastern Europe'),
 (203, 'Bosnia and Herzegovina', 2018, 5.8870000000000005, 'Central and Eastern Europe'),
 (204, 'Bosnia and Herzegovina', 2019, 6.016, 'Central and Eastern Europe'),
 (205, 'Bosnia and Herzegovina', 2020, 5.516, 'Central and Eastern Europe'),
 (206, 'Botswana', 2006, 4.739, 'Sub-Saharan Africa'),
 (207, 'Botswana', 2008, 5.4510000000000005, 'Sub-Saharan Africa'),
 (208, 'Botswana', 2010, 3.553, 'Sub-Saharan Africa'),
 (209, 'Botswana', 2011, 3.52, 'Sub-Saharan Africa'),
 (210, 'Botswana', 2012, 4.836, 'Sub-Saharan Africa'),
 (211, 'Botswana', 2013, 4.128, 'Sub-Saharan Africa'),
 (212, 'Botswana', 2014, 4.031000000000001, 'Sub-Saharan Africa'),
 (213, 'Botswana', 2015, 3.762, 'Sub-Saharan Africa'),
 (214, 'Botswana', 2016, 3.4989999999999997, 'Sub-Saharan Africa'),
 (215, 'Botswana', 2017, 3.505, 'Sub-Saharan Africa'),
 (216, 'Botswana', 2018, 3.4610000000000003, 'Sub-Saharan Africa'),
 (217, 'Botswana', 2019, 3.471, 'Sub-Saharan Africa'),
 (218, 'Brazil', 2005, 6.6370000000000005, 'Latin America and Caribbean'),
 (219, 'Brazil', 2007, 6.321000000000001, 'Latin America and Caribbean'),
 (220, 'Brazil', 2008, 6.691, 'Latin America and Caribbean'),
 (221, 'Brazil', 2009, 7.001, 'Latin America and Caribbean'),
 (222, 'Brazil', 2010, 6.837000000000001, 'Latin America and Caribbean'),
 (223, 'Brazil', 2011, 7.037999999999999, 'Latin America and Caribbean'),
 (224, 'Brazil', 2012, 6.66, 'Latin America and Caribbean'),
 (225, 'Brazil', 2013, 7.14, 'Latin America and Caribbean'),
 (226, 'Brazil', 2014, 6.981, 'Latin America and Caribbean'),
 (227, 'Brazil', 2015, 6.547000000000001, 'Latin America and Caribbean'),
 (228, 'Brazil', 2016, 6.375, 'Latin America and Caribbean'),
 (229, 'Brazil', 2017, 6.332999999999999, 'Latin America and Caribbean'),
 (230, 'Brazil', 2018, 6.191, 'Latin America and Caribbean'),
 (231, 'Brazil', 2019, 6.4510000000000005, 'Latin America and Caribbean'),
 (232, 'Brazil', 2020, 6.11, 'Latin America and Caribbean'),
 (233, 'Bulgaria', 2007, 3.844, 'Central and Eastern Europe'),
 (234, 'Bulgaria', 2010, 3.912, 'Central and Eastern Europe'),
 (235, 'Bulgaria', 2011, 3.875, 'Central and Eastern Europe'),
 (236, 'Bulgaria', 2012, 4.2219999999999995, 'Central and Eastern Europe'),
 (237, 'Bulgaria', 2013, 3.9930000000000003, 'Central and Eastern Europe'),
 (238, 'Bulgaria', 2014, 4.438, 'Central and Eastern Europe'),
 (239, 'Bulgaria', 2015, 4.865, 'Central and Eastern Europe'),
 (240, 'Bulgaria', 2016, 4.838, 'Central and Eastern Europe'),
 (241, 'Bulgaria', 2017, 5.0969999999999995, 'Central and Eastern Europe'),
 (242, 'Bulgaria', 2018, 5.099, 'Central and Eastern Europe'),
 (243, 'Bulgaria', 2019, 5.1080000000000005, 'Central and Eastern Europe'),
 (244, 'Bulgaria', 2020, 5.598, 'Central and Eastern Europe'),
 (245, 'Burkina Faso', 2006, 3.801, 'Sub-Saharan Africa'),
 (246, 'Burkina Faso', 2007, 4.0169999999999995, 'Sub-Saharan Africa'),
 (247, 'Burkina Faso', 2008, 3.846, 'Sub-Saharan Africa'),
 (248, 'Burkina Faso', 2010, 4.0360000000000005, 'Sub-Saharan Africa'),
 (249, 'Burkina Faso', 2011, 4.785, 'Sub-Saharan Africa'),
 (250, 'Burkina Faso', 2012, 3.955, 'Sub-Saharan Africa'),
 (251, 'Burkina Faso', 2013, 3.326, 'Sub-Saharan Africa'),
 (252, 'Burkina Faso', 2014, 3.4810000000000003, 'Sub-Saharan Africa'),
 (253, 'Burkina Faso', 2015, 4.419, 'Sub-Saharan Africa'),
 (254, 'Burkina Faso', 2016, 4.206, 'Sub-Saharan Africa'),
 (255, 'Burkina Faso', 2017, 4.647, 'Sub-Saharan Africa'),
 (256, 'Burkina Faso', 2018, 4.927, 'Sub-Saharan Africa'),
 (257, 'Burkina Faso', 2019, 4.7410000000000005, 'Sub-Saharan Africa'),
 (258, 'Burundi', 2008, 3.563, 'Sub-Saharan Africa'),
 (259, 'Burundi', 2009, 3.792, 'Sub-Saharan Africa'),
 (260, 'Burundi', 2011, 3.7060000000000004, 'Sub-Saharan Africa'),
 (261, 'Burundi', 2014, 2.905, 'Sub-Saharan Africa'),
 (262, 'Burundi', 2018, 3.775, 'Sub-Saharan Africa'),
 (263, 'Cambodia', 2006, 3.569, 'Southeast Asia'),
 (264, 'Cambodia', 2007, 4.156000000000001, 'Southeast Asia'),
 (265, 'Cambodia', 2008, 4.462, 'Southeast Asia'),
 (266, 'Cambodia', 2009, 4.111000000000001, 'Southeast Asia'),
 (267, 'Cambodia', 2010, 4.141, 'Southeast Asia'),
 (268, 'Cambodia', 2011, 4.1610000000000005, 'Southeast Asia'),
 (269, 'Cambodia', 2012, 3.8989999999999996, 'Southeast Asia'),
 (270, 'Cambodia', 2013, 3.674, 'Southeast Asia'),
 (271, 'Cambodia', 2014, 3.883, 'Southeast Asia'),
 (272, 'Cambodia', 2015, 4.162, 'Southeast Asia'),
 (273, 'Cambodia', 2016, 4.461, 'Southeast Asia'),
 (274, 'Cambodia', 2017, 4.586, 'Southeast Asia'),
 (275, 'Cambodia', 2018, 5.122000000000001, 'Southeast Asia'),
 (276, 'Cambodia', 2019, 4.998, 'Southeast Asia'),
 (277, 'Cambodia', 2020, 4.377, 'Southeast Asia'),
 (278, 'Cameroon', 2006, 3.8510000000000004, 'Sub-Saharan Africa'),
 (279, 'Cameroon', 2007, 4.35, 'Sub-Saharan Africa'),
 (280, 'Cameroon', 2008, 4.292, 'Sub-Saharan Africa'),
 (281, 'Cameroon', 2009, 4.7410000000000005, 'Sub-Saharan Africa'),
 (282, 'Cameroon', 2010, 4.553999999999999, 'Sub-Saharan Africa'),
 (283, 'Cameroon', 2011, 4.434, 'Sub-Saharan Africa'),
 (284, 'Cameroon', 2012, 4.245, 'Sub-Saharan Africa'),
 (285, 'Cameroon', 2013, 4.271, 'Sub-Saharan Africa'),
 (286, 'Cameroon', 2014, 4.24, 'Sub-Saharan Africa'),
 (287, 'Cameroon', 2015, 5.038, 'Sub-Saharan Africa'),
 (288, 'Cameroon', 2016, 4.816, 'Sub-Saharan Africa'),
 (289, 'Cameroon', 2017, 5.074, 'Sub-Saharan Africa'),
 (290, 'Cameroon', 2018, 5.251, 'Sub-Saharan Africa'),
 (291, 'Cameroon', 2019, 4.937, 'Sub-Saharan Africa'),
 (292, 'Cameroon', 2020, 5.2410000000000005, 'Sub-Saharan Africa'),
 (293, 'Canada', 2005, 7.417999999999999, 'North America and ANZ'),
 (294, 'Canada', 2007, 7.482, 'North America and ANZ'),
 (295, 'Canada', 2008, 7.486000000000001, 'North America and ANZ'),
 (296, 'Canada', 2009, 7.4879999999999995, 'North America and ANZ'),
 (297, 'Canada', 2010, 7.65, 'North America and ANZ'),
 (298, 'Canada', 2011, 7.426, 'North America and ANZ'),
 (299, 'Canada', 2012, 7.415, 'North America and ANZ'),
 (300, 'Canada', 2013, 7.593999999999999, 'North America and ANZ'),
 (301, 'Canada', 2014, 7.303999999999999, 'North America and ANZ'),
 (302, 'Canada', 2015, 7.412999999999999, 'North America and ANZ'),
 (303, 'Canada', 2016, 7.245, 'North America and ANZ'),
 (304, 'Canada', 2017, 7.415, 'North America and ANZ'),
 (305, 'Canada', 2018, 7.175, 'North America and ANZ'),
 (306, 'Canada', 2019, 7.109, 'North America and ANZ'),
 (307, 'Canada', 2020, 7.025, 'North America and ANZ'),
 (308, 'Central African Republic', 2007, 4.16, None),
 (309, 'Central African Republic', 2010, 3.568, None),
 (310, 'Central African Republic', 2011, 3.678, None),
 (311, 'Central African Republic', 2016, 2.693, None),
 (312, 'Central African Republic', 2017, 3.4760000000000004, None),
 (313, 'Chad', 2006, 3.435, 'Sub-Saharan Africa'),
 (314, 'Chad', 2007, 4.141, 'Sub-Saharan Africa'),
 (315, 'Chad', 2008, 4.632, 'Sub-Saharan Africa'),
 (316, 'Chad', 2009, 3.639, 'Sub-Saharan Africa'),
 (317, 'Chad', 2010, 3.7430000000000003, 'Sub-Saharan Africa'),
 (318, 'Chad', 2011, 4.393, 'Sub-Saharan Africa'),
 (319, 'Chad', 2012, 4.033, 'Sub-Saharan Africa'),
 (320, 'Chad', 2013, 3.508, 'Sub-Saharan Africa'),
 (321, 'Chad', 2014, 3.46, 'Sub-Saharan Africa'),
 (322, 'Chad', 2015, 4.323, 'Sub-Saharan Africa'),
 (323, 'Chad', 2016, 4.029, 'Sub-Saharan Africa'),

In [15]:
# Close session
session.close()